.row{
  margin-bottom: 10px;
}
.column,
.columns {
  position: relative;
  padding-right: 10px;
  float: left;
}
.medium-1 {
  width: 8.33333%; }

.medium-2 {
  width: 16.66667%; }

.medium-3 {
  width: 25%; }

.medium-4 {
  width: 33.33333%; }

.medium-5 {
  width: 41.66667%; }

.medium-6 {
  width: 50%; }

.medium-7 {
  width: 58.33333%; }

.medium-8 {
  width: 66.66667%; }

.medium-9 {
  width: 75%; }

.medium-10 {
  width: 83.33333%; }

.medium-11 {
  width: 91.66667%; }

.medium-12 {
  width: 100%; }
/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: white;
  font-family: inherit;
  border: 1px solid #aaa;
  display: block;
  font-size: 0.875rem;
  padding: 0.5rem;
  height: 28px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  border-color: #999999; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none; }
input[type="text"][disabled], fieldset[disabled] input[type="text"],
input[type="password"][disabled], fieldset[disabled]
input[type="password"],
input[type="date"][disabled], fieldset[disabled]
input[type="date"],
input[type="datetime"][disabled], fieldset[disabled]
input[type="datetime"],
input[type="datetime-local"][disabled], fieldset[disabled]
input[type="datetime-local"],
input[type="month"][disabled], fieldset[disabled]
input[type="month"],
input[type="week"][disabled], fieldset[disabled]
input[type="week"],
input[type="email"][disabled], fieldset[disabled]
input[type="email"],
input[type="number"][disabled], fieldset[disabled]
input[type="number"],
input[type="search"][disabled], fieldset[disabled]
input[type="search"],
input[type="tel"][disabled], fieldset[disabled]
input[type="tel"],
input[type="time"][disabled], fieldset[disabled]
input[type="time"],
input[type="url"][disabled], fieldset[disabled]
input[type="url"],
textarea[disabled], fieldset[disabled]
textarea {
  background-color: #dddddd; }
input[type="text"].radius,
input[type="password"].radius,
input[type="date"].radius,
input[type="datetime"].radius,
input[type="datetime-local"].radius,
input[type="month"].radius,
input[type="week"].radius,
input[type="email"].radius,
input[type="number"].radius,
input[type="search"].radius,
input[type="tel"].radius,
input[type="time"].radius,
input[type="url"].radius,
textarea.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px; }

label {
  display:inline-block;
  max-width:100%;
  margin-bottom:5px;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 6px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}