

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}


@media (min-width: 768px) {
    .navbar {
        min-height: 40px
    }

    .navbar-nav > li > a {
        font-size: 14px;
        padding-top: 11px;
        padding-bottom: 11px
    }

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 42px;
        height: 42px
    }
}

.errorMessage {
    color: #C60F13;
}

.btn-primary.btn-shadow {
    -webkit-box-shadow: inset 0 -4px 0 #2a6496;
    box-shadow: inset 0 -4px 0 #2a6496;
    border: 0;
    color: #fff
}

.btn-lg.btn-shadow {
    padding: 13px 35px 17px
}

.bc-social {
    padding: 15px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd
}

.bc-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.bc-social-buttons li {
    display: inline-block;
    line-height: 1;
    color: #555
}

.bc-social-buttons li .fa {
    font-size: 18px;
    margin-right: 3px
}

.bc-social-buttons li .fa-weibo {
    font-size: 20px
}

.bc-social-buttons li a {
    color: #555
}

.bc-social-buttons li.social-qq:hover {
    color: #428bca
}

.bc-social-buttons li.social-weibo a:hover {
    color: #d9534f
}

.bc-social-buttons > li + li:before {
    padding: 0 10px;
    color: #ccc;
    content: "|"
}

.projects .thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 310px;
    margin-bottom: 30px;
    border-radius: 0
}

.projects .thumbnail .caption {
    height: 200px;
    overflow-y: hidden;
    color: #555
}

.projects .thumbnail .caption a:hover, .projects .thumbnail .caption a:focus {
    text-decoration: none
}

.projects .thumbnail img {
    max-width: 100%;
    height: auto
}

.projects-header {
    width: 60%;
    text-align: center;
    margin: 60px 0 10px;
    font-weight: 200;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.projects-header h2 {
    font-size: 30px;
    letter-spacing: -1px
}

@media screen and (min-width: 768px) {
    .projects-header h2 {
        font-size: 42px
    }
}

.nav-sub {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 70px;
    border-top: 1px solid #eee
}


#scrollUp {
    background-color: #777;
    color: #eee;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    width: 46px;
    height: 46px;
    border: none;
    opacity: .8
}

#scrollUp:hover {
    background-color: #333
}

@media screen and (min-width: 992px) {
    #scrollUp {
        bottom: 100px
    }
}

.bc-sidebar {
    margin-top: 30px
}

.bc-sidebar > ul > li > a {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5
}

.excerpt-list {
    margin-top: 60px
}

.excerpt {
    min-height: 120px;
    border: 1px solid #eee;
    position: relative;
    margin-bottom: 10px;
    padding: 20px 20px 20px 24px
}

.excerpt-title {
    font-size: 24px;
    margin-top: 0
}

.excerpt-title a {
    color: #555
}

.excerpt-title a:hover, .excerpt-title a:active {
    color: #3071a9
}

.excerpt-meta {
    position: absolute;
    bottom: 12px
}

.excerpt-tags {
    color: #777
}

.excerpt-tags .glyphicon {
    position: relative;
    top: 2px;
    color: #eee
}

.excerpt-tags a, .excerpt-tags span {
    color: #777;
    font-size: 12px
}

.post {
    position: relative;
    margin-top: 60px;
    max-width: 680px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.post-header h1, .post-header h2 {
    font-size: 32px;
    margin: 0 0 45px 0;
    position: relative;
    text-align: center
}

@media (min-width: 768px) {
    .post-header h1, .post-header h2 {
        font-size: 36px
    }
}

.post-header h1:after, .post-header h2:after {
    border-top: 1px solid #e5e5e5;
    bottom: 0;
    content: "";
    left: 50%;
    margin: 0 0 0 -30%;
    position: absolute;
    width: 60%
}

.post-header h1 a, .post-header h2 a {
    color: #363636;
    display: block;
    padding: 65px 0 20px;
    position: relative
}

.post-header h1 a:hover, .post-header h2 a:hover {
    color: #428bca
}

.post-header h1 a:before, .post-header h2 a:before {
    border-top: 1px solid #e5e5e5;
    bottom: -4px;
    content: "";
    left: 50%;
    margin: 0 0 0 -27%;
    position: absolute;
    width: 60%
}

.post-header h1 a:after, .post-header h2 a:after {
    border-top: 1px solid #e5e5e5;
    bottom: -3px;
    content: "";
    left: 50%;
    margin: 0 0 0 -28%;
    position: absolute;
    width: 60%
}

@media (min-width: 768px) {
    .post-header h1 a, .post-header h2 a {
        padding-left: 65px;
        padding-right: 65px
    }
}

.post-content {
    font-size: 16px;
    line-height: 1.8;
    padding-top: 20px;
    padding-bottom: 20px
}

.post-content p, .post-content pre, .post-content ul, .post-content ol, .post-content dl, .post-content form, .post-content hr, .post-content table, .post-content blockquote {
    margin-bottom: 1.8em
}

.post-content blockquote {
    font-size: 16px
}

.post-content pre {
    margin-top: -20px
}

.post-content li > p {
    margin-bottom: 5px
}

.post-content img, .post-content video, .post-content embed, .post-content iframe {
    max-width: 100%
}

.post-content img {
    height: auto
}

article.page {
    margin-top: 0;
    max-width: none
}

article.page .post-content {
    padding-top: 0
}

article.page .post-content h2 {
    font-size: 36px;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee
}

#btn-jike-video:after {
    content: "鏂�";
    color: #fff;
    position: absolute;
    top: 1px;
    right: 0;
    padding: 3px 3px 3px 3px;
    z-index: 9999999;
    background: #d9534f;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1;
    border: 1px solid #d43f3a
}

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 550px;
    margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 550px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 550px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

ul.nav-tabs {
    width: 200px;
    margin-top: 80px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

ul.nav-tabs li {
    margin: 0;
    border-top: 1px solid #ddd;
    background: #EBEBEB;
}

ul.nav-tabs li:first-child {
    border-top: none;
}

ul.nav-tabs li a {
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {

    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}

ul.nav-tabs li:first-child a {
    border-radius: 4px 4px 0 0;
}

ul.nav-tabs li:last-child a {
    border-radius: 0 0 4px 4px;
}

ul.nav-tabs.affix {
    top: 100px; /* Set the top position of pinned element */
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

.exp1 {
    font-size: 50px;
}






@keyframes fadeOut {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes fadeInScaleUp {
    from {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes fadeInScaleUp {
    from {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.scaleDownFadeOut {
    -webkit-animation: scaleDownFadeOut .4s ease-in forwards;
    animation: scaleDownFadeOut .4s ease-in forwards;
    pointer-events: none
}

@keyframes scaleDownFadeOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    99% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes scaleDownFadeOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    99% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.scaleUpFadeIn {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation: scaleUpFadeIn ease-in-out .4s forwards;
    animation: scaleUpFadeIn ease-in-out .4s forwards;
    -webkit-animation-duration: .4s;
    animation-duration: .4s
}

@keyframes scaleUpFadeIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    1% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes scaleUpFadeIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    1% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.showLastSecond {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation: showLastSecond ease-in-out .4s forwards;
    animation: showLastSecond ease-in-out .4s forwards;
    -webkit-animation-duration: .4s;
    animation-duration: .4s
}

@keyframes showLastSecond {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    1% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    99% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes showLastSecond {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    1% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    99% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@media screen and (max-width: 30em) {
    .item--big {
        width: 80%;
        right: 10%;
        left: 10%
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}



b {
    font-weight: normal;
}

button {
    cursor: pointer;
}

input, select, form img, button, label, textarea {
    font-size: 12px;
    vertical-align: middle;
    font-family: Tahoma;
}



img {
    display: block;
}

.clearfix:after, .anlist:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix, .anlist {
    zoom: 1;
}

.clear {
    height: 0;
    overflow: hidden;
    clear: both;
}

/* ����ͼ���� */
.bnspic a {
    display: block;
}

.big_pic, .small_pic {
    float: left;
}

.big_pic, .big_pic a, .big_pic img {
    width: 900px;
    height: 540px;
}

.big_pic {
    overflow: hidden;
    position: relative;
}

.big_pic li {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.4);
    z-index: -1;
    transition: all linear 0.2s;
}

.big_pic .on {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 1;
}

.big_pic a {
    position: relative;
}

.big_pic .txt {
    width: 900px;
    height: 50px;
    line-height: 46px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #BDBDBD;
    text-align: center;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#7F000000', endColorstr='#7F000000');
    background: rgba(0, 0, 0, 0.5);
    transition: all ease .2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.big_pic a:hover .txt {
    color: #FFFFFF;
}

.small_pic {
    width: 200px;
    position: relative;
    left: 1px;
}

.small_pic a, .small_pic img {
    width: 200px;
    height: 179px;
}

.small_pic a {
    padding: 1px;
    background: #121013;
    transition: all ease .2s;
}

.small_pic .on, .small_pic li:hover {
    position: relative;
    z-index: 1;
}

.small_pic .on a {
    background: #FACC16;
}

.small_pic li {
    width: 203px;
    height: 181px;
    margin: -1px 0 0 -1px;
    float: left;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'feathericons';
    src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
    src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
    url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
    url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
    url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {

    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;

    width: 100%;
    max-width: 1000%;
    max-height: 500px;
    width: 100%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h1 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h1 span {
    font-weight: 800;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 200;
}

.grid figure h2 span {
    font-weight: 500;
}

.grid figure h2,
.grid figure h1,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/* Individual effects */




/*---------------*/
/***** Layla *****/
/*---------------*/

figure.effect-layla {
    background: #17819c;
}

figure.effect-layla img {
    width: 100%;
    height:600px;
}

figure.effect-layla figcaption {
    padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
}

figure.effect-layla figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

figure.effect-layla h1 {
    padding-top: 0%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-layla h2 {
    padding-top: 10%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-layla p {
    padding: 0.5em 2em;
    text-transform: none;
    opacity: 0;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}

figure.effect-layla img {

    -webkit-transform: translate3d(0,-80px,0);
    transform: translate3d(0,-80px,0);
}

figure.effect-layla h2 {
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}

figure.effect-layla h2 {
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}
figure.effect-layla h1 {
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover h1,
figure.effect-layla:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h1,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}



@media screen and (max-width: 50em) {
    .content {
        padding: 0 10px;
        text-align: center;
    }
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}
